extends ../layout

block content
  section.rsvp
    div.container
      if rsvp
        h2 Manage your guest list
        p= rsvp.email
        
        form(method="post", action="/rsvp/#{rsvp._id}")
          input(type='hidden', name='rsvp[email]', value=rsvp.email)
          .control
            label Status
            select(name='rsvp[attending]')
              option(value='true') Yes, I will be attending
              option(value='false') No, I am unable to attend
        
          fieldset.guest-list
            p Please include the full name, age, and dinner choice of <em>all</em> guests attending.
            ul
              each guest, i in rsvp.guests
                li
                  .control
                    label First Name
                    input(name='guests[#{i}][first_name]', value='#{guest.first_name}')
                  .control
                    label Last Name
                    input(name='guests[#{i}][last_name]', value='#{guest.last_name}')
                  .control
                    label Age
                    select(name='guests[#{i}][adult]', value='#{guest.adult}')
                      option(value="true") Adult
                      option(value="false") Child
                  .control
                    label Dinner
                    select(name='guests[#{i}][dinner]', value='#{guest.dinner}')
                      option(value="beef", selected=(guest.dinner == 'beef')) Beef Brisket
                      option(value="chicken", selected=(guest.dinner == 'chicken')) Chicken
                      option(value="vegi", selected=(guest.dinner == 'vegi')) Vegitarian
                      option(value="strips", selected=(guest.dinner == 'strips')) Chicken Strips (kids 2-12)
                  .form-actions
                    if i > 0
                      button.btn.btn-danger(type='submit', name='remove_guest', value='#{i}') <span class="iconic x"></span>
                        
            button.btn(type='submit', name='add_guest', value='Add Guest') <span class="iconic plus_alt"></span> Add Guest
            
          button.btn.btn-accept(type='submit', name='save', value='save') Save
          a(href='/') Cancel
      else
        h2 RSVP not found
      